<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="title">
                <h1>Travel Planner</h1>
            </div>
            
        </header>

        <main>
            <section class="content">
                <form class="" onsubmit="return Client.performAction(event)">
                    <strong>My Trip to: </strong><input id="city" type="text" name="input" value="Vancouver" onblur="" placeholder="Name">
                    <strong>Departing: </strong><input id="departDate" type="date" id="start" name="trip-start"
                    value="2018-07-22">
                    <input type="submit" name="" value="Add Trip" onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)">
                </form>
            <section>

            <section>
                <img id="image" src="" alt="Country Picture">
                <div><strong></strong>
                    <span id="destination"></span> is
                    <span id="daysRemaining"></span> days away.
                </div>
                <div><strong>Typical weather for then is: </strong>
                    <span>High - <span id="highT"></span> Low -
                    <span id="lowT"></span></span>
                </div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
