<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&family=Satisfy&display=swap" rel="stylesheet">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="title">
                <h1>Travel Planner</h1>
            </div>
            
        </header>

        <main class="firstmain">
            <section class="content">
                <form>
                    <strong>My Trip to: </strong><input id="city" type="text" name="input" value="Vancouver" onblur="" placeholder="Name">
                    <strong>Departing: </strong><input id="departDate" type="date" id="start" name="trip-start"
                    value="2018-07-22">
                    <input id=trigger class="button" type="submit" name="" value="Add Trip" onsubmit="return Client.performAction(event)">
                    <input class="button" type="submit" name="" value="Remove Trip" onclick="return Client.removeTrip(event)">
                </form>
            <section>
        </main>
        <main id="results" class="secondmain">
            <section class="gridbox">
                <img id="image" src="" alt="Destination Picture">
                <div><strong></strong>
                    <span id="destination"></span> trip is
                    <span id="daysRemaining"></span> day(s) away.
                <br><br><strong>Typical weather for then is: </strong>
                    <span>Highest tempreture is <span id="highT"></span> °C, </span>
                    <span>Lowest tempreture is <span id="lowT"></span>°C</span>
                </div>

            </section>
        </main>
     

        <footer>
            <p>2020 Lanning Zhang</p>
        </footer>
        <script>
            if('serviceWorker' in navigator){
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                });
            }
            window.onload = function() {
                document.getElementById('results').style.display = 'none';
            };
        </script>
    </body>
</html>
