body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.firstmain {
    font-family: 'Rokkitt', serif;
    flex: 2;
    background-image: linear-gradient(#F2D8D5, #F2C4D0);

}
.secondmain {
    font-family: 'Rokkitt', serif;
    flex: 2;
    background-color: #D9A3A7;
}

.gridbox{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1vw;
    margin: 5% 1% 5% 1%;
}
img{
    width: 80%;
}
section {
    margin: 50px auto;
}

.button:hover {
    background-color: #D9A3A7;
}