form {
    padding: 40px 100px 40px 100px;

}
.response{
    text-indent: 5vw;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    font-family: 'Rokkitt', serif;
}
