header {
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 10vh;
    font-family: 'Satisfy', cursive;
    font-size: 3vh;
    color: #8C472E;
    text-align: center;
    
}
.addtrip{
    font-size: 10px;
    color: red;

}